.our-team {
        background: #F1F1F1;
        padding-top: 60px;
    h2{
        font-size: 24px;
        font-family: 'Oswald', sans-serif;
    }
    p{
        font-size: 12px;
        color: #797F86;
        font-weight: 600;
    }
    .figure-persone{
            margin-bottom: 20px;
            
       
    .team-member{
            width: 100%;
            position: relative;
          &:hover>.overlay{display: none;}
          &:hover>.member-social{display: block;top:0;z-index: 99;}
        .overlay{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, .2);
            transition: all .3s ease;
        }
        .member-about{
                width: 100%;
                background: rgba(0, 0, 0, .5);
                position: absolute;
                bottom: 0;
                left: 0;
                text-align: center;
            h4{
                font-size: 17px;
                position: relative;
                text-align: center;
                color: white;
                margin-bottom: 0;
                font-family: 'Oswald', sans-serif;
            }
            hr{
                    margin: 0;
                    width: 42px;
                    display: inline-block;
                    height: 2px;
                    background: rgba(255, 255, 255, 0.5);
                    text-align: center;
            }
            p{
                text-align: center;
                color: #eee;
                font-size: 11px;
            }
        }
        
        .member-social{
                width:170px;
                height: 40px;
                background: rgba(0, 0, 0, .5);
                position: absolute;
                top: -10%;
                margin-left: 37px;
                border-radius: 2px;
                z-index: -1;
                transition: all .2s ease;
            a{
                    
                i{
                    color: white;
                    width: 31px;
                    height: 31px;
                    border: 2px solid #ddd;
                    border-radius: 31px;
                    margin: 0;
                    font-size: 15px;
                    text-align: center;
                    line-height: 28px;
                    margin: 5px;
                }
            }
        }
     }
    }
}