.row.slider(data-parallax="scroll" data-image-src="../img/background/09.jpg")
    .owl-carousel.owl-theme#owlcarousel
     
        .item
          h4 Green Design
          p Green - Sustainable Interior Design is an approach that cares about how your space is designed and its   effect on people and the environment. Sustainable design is smart and requires a commitment to constantly finding ways to diminish the impact on the world around us.
          a.btn-view(href="#") VIEW PORTFOLIO
                i.fa.fa-angle-right(style="margin-left:17px;")
        .item
          h4 Residential Design
          p Green - Sustainable Interior Design is an approach that cares about how your space is designed and its effect on people and the environment. Sustainable design is smart and requires a commitment to constantly finding ways to diminish the impact on the world around us.
          a.btn-view(href="#") VIEW PORTFOLIO
                i.fa.fa-angle-right(style="margin-left:17px;")
        .item
          h4 Commercial Design
          p Green - Sustainable Interior Design is an approach that cares about how your space is designed and its effect on people and the environment. Sustainable design is smart and requires a commitment to constantly finding ways to diminish the impact on the world around us.
          a.btn-view(href="#") VIEW PORTFOLIO
                i.fa.fa-angle-right(style="margin-left:17px;")