.footer.row
    .container(style="width:79%;")
        .footer-wrapper
            .row
                .col-xl-9
                    .footer-content.row
                        ul
                            li 
                              a(href="") About
                            li |  
                            li 
                              a(href="") Portfolio
                            li |  
                            li 
                              a(href="") Services
                            li |  
                            li 
                              a(href="") Contact Us
                            li |  
                            li 
                              a(href="") FAQ's
                        p 2915 Red Hill Ave. Suite G201 Costa Mesa, CA 92626  |  714-641-4868
                        
        p.subo © © 2016 Yosomiete. Design and development by EvenThemes.