.fun-fact-area.row(data-parallax="scroll" data-image-src="../img/background/16.jpg")
    .row(style="height:146px;position:absolute;top:50%;")
        .container
            .row
                .col-md-3(style="text-align: center;")
                    h1.counter(style="margin:0;color:white;margin-bottom: 16px;") 458
                    span(style="color:white;font-family: 'Oswald', sans-serif;font-size: 20px;") PROJECTS COMPLETED
                .col-md-3(style="text-align: center;")
                    h1.counter(style="margin:0;color:white;margin-bottom: 16px;") 612
                    span(style="color:white;font-family: 'Oswald', sans-serif;font-size: 20px;") FRESH IDEAS
                .col-md-3(style="text-align: center;")
                    h1.counter(style="margin:0;color:white;margin-bottom: 16px;") 872
                    span(style="color:white;font-family: 'Oswald', sans-serif;font-size: 20px;") SATISTIED CLIENTS
                .col-md-3(style="text-align: center;")
                    h1.counter(style="margin:0;color:white;margin-bottom: 16px;") 167
                    span(style="color:white;font-family: 'Oswald', sans-serif;font-size: 20px;") CUPS OF COFFEE