header.row.header
    .row.header-top-nav
        .container(style="padding:0;width:83%;")
           nav.navbar.navbar-toggleable-sm.navbar-light#main-nav
                button.navbar-toggler.navbar-toggler-right(type="button" data-toggle="collapse" data-target="#mainNav" style="margin-top: 17px;")
                    span.navbar-toggler-icon
                .header-logo
                   a(href="#" class="navbar-brand") Yosomite
                .collapse.navbar-collapse.justify-content-end#mainNav
                   ul.navbar-nav
                    li.nav-item.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown") Home
                        ul.dropdown-menu.menu-dropdown
                            li
                              a.dropdown-item(href="#") Home Page 1
                              a.dropdown-item(href="#") Home Page 2
                    li.nav-item.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown") About Us
                        ul.dropdown-menu.menu-dropdown
                            li
                               a.dropdown-item(href="#") About Us 1
                               a.dropdown-item(href="#") About Us 2 
                    li.nav-item.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown") Portfolio
                        ul.dropdown-menu.menu-dropdown
                            li
                               a.dropdown-item(href="#") Portfolio 1
                               a.dropdown-item(href="#") Portfolio 2
                    li.nav-item
                        a(href="#") Services
                    li.nav-item.dropdown
                        a.dropdown-toggle(href="#" data-toggle="dropdown") Pages
                          ul.dropdown-menu.menu-dropdown
                            li
                               a.dropdown-item(href="#") FAQ's
                               a.dropdown-item(href="#") Our Team
                    li.nav-item
                        a(href="#") Contact Us    
                  
        
    .row.header-bottom-parallax(data-parallax="scroll" data-image-src="../img/background/03.jpg")
         
          
    
    
