doctype html
html
    head
      title Yosomite - Minimal Interior Design
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css")
      link(href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet')
      link(href='../css/animate.css' rel='stylesheet')
      link(rel='stylesheet' href='../css/font-awesome-4.7.0/css/font-awesome.min.css')
      link(rel="stylesheet" href="../css/owl.carousel.min.css")
      link(rel="stylesheet" href="../css/index.css")
      link(rel="stylesheet" href="../css/header.css")
      link(rel="stylesheet" href="../css/design.css")
      link(rel="stylesheet" href="../css/carousel-portfolio.css")
      link(rel="stylesheet" href="../css/feature-area.css")
      link(rel="stylesheet" href="../css/portfolio-area.css")
      link(rel="stylesheet" href="../css/fun-fact-area.css")
      link(rel="stylesheet" href="../css/about_parallax.css")
      link(rel="stylesheet" href="../css/our-team.css")
      link(rel="stylesheet" href="../css/our_clients.css")
      link(rel="stylesheet" href="../css/form-search.css")
      link(rel="stylesheet" href="../css/partners-area.css")
      link(rel="stylesheet" href="../css/footer.css")
      link(rel="icon" href="../img/img-png/favicon.png")
      script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous")
      script(src="../js/owl.carousel.min.js")
      script(src="../js/parallax.js")
      script(src="../js/index.js")
    body(id="body")
      .page_wrapper
        include header.pug
     
        include _design.pug
        
        include carousel-portfolio.pug
        
        include feature-area.pug
        
        include portfolio-area.pug
        
        include fun-fact-area.pug
        
        include about_parallax.pug
        
        include our-team.pug
         
        include our_clients.pug
        
        include form-search.pug
        
        include partners-area.pug
         
        include footer.pug
        a(href="#body" id="yakor") 
           i.fa.fa-angle-up