.our-team.row
    .container(style="width:85%;")
        .row(style="margin-bottom:40px;")
            .col-12.col-md-10.col-lg-8.col-xl-7.offset-lg-2(style="text-align:center;")
                    h2 OUR TEAM
                    p Aliquam mattis efficitur massa vel commodo. Nam non euismod ante. Proin consequat sem quis massa rhoncus, vel convallis eros tincidunt.
        .row
            .col-md-6.col-lg-3.figure-persone
                .team-member
                    .overlay
                    .member-photo
                        img(src="../img/teams/01.jpg" width="100%" height="auto")
                    .member-about
                        h4 Astley Fletcher
                        hr 
                        p Interior Design
                    .member-social
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin-square
            .col-md-6.col-lg-3.figure-persone
                .team-member
                    .overlay
                    .member-photo
                        img(src="../img/teams/02.jpg" width="100%" height="auto")
                    .member-about
                        h4 Jim Venanda
                        hr
                        p Commercial Design
                    .member-social
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin-square
            .col-md-6.col-lg-3.figure-persone
                 .team-member
                    .overlay
                    .member-photo
                        img(src="../img/teams/03.jpg" width="100%" height="auto")
                    .member-about
                        h4 Sara Doe
                        hr
                        p Green Design
                    .member-social
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin-square
            .col-md-6.col-lg-3.figure-persone
                 .team-member
                    .overlay
                    .member-photo
                        img(src="../img/teams/04.jpg" width="100%" height="auto")
                    .member-about
                        h4 Robert Doe
                        hr
                        p Corporate Design
                    .member-social
                        a(href="#")
                            i.fa.fa-facebook
                        a(href="#")
                            i.fa.fa-twitter
                        a(href="#")
                            i.fa.fa-google-plus
                        a(href="#")
                            i.fa.fa-linkedin-square