.our-clients.row
    .container(style="width:84%;")
        .row(style="margin-bottom:40px;")
            .col-xl-7.col-lg-8.col-md-10.col-12.offset-lg-3.offset-md-2
                h2.title OUR AWESOME CLIENTS
        .row
            .col-md-6.single-persone
                .testimon-item
                    .testimon-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.
                    .testimon-footer
                        img(src="../img/testimonial/01.jpg" width="60" height="60" style="float:left;border-radius:100%;")
                        h6 John Doe
                        ul
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star-o
            .col-md-6.single-persone
                .testimon-item
                    .testimon-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.
                    .testimon-footer
                        img(src="../img/testimonial/02.jpg" width="60" height="60" style="float:left;border-radius:100%;")
                        h6 John Doe
                        ul
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star-o
            .col-md-6.single-persone
                .testimon-item
                    .testimon-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.
                    .testimon-footer
                        img(src="../img/testimonial/01.jpg" width="60" height="60" style="float:left;border-radius:100%;")
                        h6 John Doe
                        ul
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star-o
            .col-md-6.single-persone
                .testimon-item
                    .testimon-content
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus pretium orci sit amet mi ullamcorper egestas. Sed non mattis metus. Integer vel lorem tincidunt, pharetra eros nec, posuere odio.
                    .testimon-footer
                        img(src="../img/testimonial/02.jpg" width="60" height="60" style="float:left;border-radius:100%;")
                        h6 John Doe
                        ul
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star.active
                          li
                            i.fa.fa-star-o