.row.partners-area
    .container(style="width:89%;")
        .col-md-2.col-6
            img(src="../img/partners/01.png" width="100%" height="auto")
        .col-md-2.col-6
            img(src="../img/partners/02.png" width="100%" height="auto")
        .col-md-2.col-6
            img(src="../img/partners/03.png" width="100%" height="auto")
        .col-md-2.col-6
            img(src="../img/partners/04.png" width="100%" height="auto")
        .col-md-2.col-6
            img(src="../img/partners/05.png" width="100%" height="auto")
        .col-md-2.col-6
            img(src="../img/partners/06.png" width="100%" height="auto")    
        
        