.row.portfolio-area
    .container(style="padding:0;width:77%;")
        .row(style="margin-bottom:30px;padding-top:60px;")
            .col-xl-12.col-sm-10.col-md-6.col-12(style="text-align:center;")
                h2.title Portfolio
                p.just-text Aliquam mattis efficitur massa vel commodo. Nam non euismod ante. Proin consequat sem quis massa<br /> rhoncus, vel convallis eros tincidunt.
        .row
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/07.jpg" width="100%" height="auto")
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")   
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/08.jpg" width="100%" height="auto")
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/09.jpg" width="100%" height="auto")
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/07.jpg" width="100%" height="auto")
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/08.jpg" width="100%" height="auto")
            .col-md-4.col-sm-6.col-12.feature-single
                    .overlay
                    .work-inner
                        .work-overlay
                            h3 Urban Opulence
                            a.work-link(href="#")
                                i.fa.fa-link(style="margin-top:14px;color:white;")
                            a.img-lightbox(href="#")
                                i.fa.fa-search(style="margin-top:14px;color:white;")
                        img(src="../img/portfolio/09.jpg" width="100%" height="auto")
        .row.view(style="padding-top:40px;")
                button.btn_view View All
                      i.fa.fa-long-arrow-right(style="margin-left:14px;")
                     
        