html,
body {
  margin: 0;
  padding: 0; }

.row {
  width: 100%;
  margin: 0; }

.page_wrapper {
  position: relative;
  width: 100%;
  min-height: 100vh; }

#yakor {
  width: 40px;
  height: 40px;
  z-index: 99;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 85%;
  right: 28px;
  border-radius: 3px;
  transition: all .5s ease; }
  #yakor:hover {
    background: rgba(0, 0, 0, 0.8); }
  #yakor i {
    color: white;
    position: absolute;
    left: 37%;
    top: 32%; }
